* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
}

h1 {
    font-size: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    letter-spacing: -3px;
}

p {
    font-size: 1rem;
    line-height: 1.6rem;
}

/* -- Header -- */
nav {
    min-height: 20dvh;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li {
    list-style: none;
    padding: 20px;
}

ul a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 14px 28px;
    border: none;
    border-radius: 0;
    background-color: black;
    color: #fff;
    cursor: pointer;
}

/* -- Main -- */
.section__1 {
    min-height: 80dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -140px;
}

.container__hero p {
    width: 40%;
    text-align: center;
}


.section__2 {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* -- About -- */
.main__about {
    margin-bottom: 100px;
}

.section__about {
    min-height: 80dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -140px;
}

.about__hero p {
    width: 60%;
    text-align: center;
}

.info__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    width: 50%;
}

/* -- Projects -- */
.section__projects {
    min-height: 80dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: -140px;
}

.projects__hero p {
    width: 40%;
    text-align: center;
}

.section__examples {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0 100px 0 40px;
}

.section__examples h2 {
    margin-bottom: 50px
}

/* Example-1 */
.example__1 {
    margin-bottom: 300px;
}

.example__container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 40px;
}

.box {
    width: 200px;
    height: 200px;
}

.box:nth-child(1) {
    background-color: #424EDE;
}

.box:nth-child(2) {
    background-color: rgb(255, 166, 0);
}

.box:nth-child(3) {
    background-color: rgb(123, 250, 208);
}

.box:nth-child(4) {
    background-color: rgb(238, 130, 238);
}

.box:nth-child(5) {
    background-color: rgb(47, 177, 47);
}

.box:nth-child(6) {
    background-color: rgb(47, 62, 177);
}

.box:nth-child(7) {
    background-color: rgb(47, 177, 47);
}

/* Example-2 */
.example__2 {
    margin-bottom: 300px;
}

/* Example-3 */
.example__3 {
    margin-bottom: 500px;
}

/* Example-4 */
.example__4 {
    margin-bottom: 600px;
}

/* Example-5 */
.example__5 {
    margin-bottom: 500px;
}

/* Example-6 */
.example__6 {
    margin-bottom: 500px;
}

/* Example-7 */
.example__7 {
    margin-bottom: 500px;
}

/* Example-8 */
.example__8 {
    margin-bottom: 300px;
}

.example__8 .example__container {
    margin-top: 50px;
}

/* -- Footer -- */
footer {
    height: 10dvh;
    background: linear-gradient(to right, #7439C8, #424EDE);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

footer p {
    color: white;
}